[general]
name: XmppGears
admins: tsing@jianqing.org

[gears]
prefix: XmppGears
host: 127.0.0.1
port: 4730

[xmpp]
jid: bot@example.com/XmppGears
pass: thepassword
priority: 25
avatar: 320ab8a18220d43989f47b30b447d47165c7456a
